.button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(34, 33, 33, 0.2);
    border-radius: 8px;
    width: 40%;
    border: none;
    font-size: 18px;
}

.button a {
    width: 100%;
}

.button:hover {
    cursor: pointer;
}